body{
    background: linear-gradient(to right, #000000, #05091a, #000000);
}
.encabezado{
    color: rgb(255, 255, 255);
    text-shadow: #00c9fc81 .3rem .3rem .5rem;
    font-size: 2rem;
    font-weight: bold;
    flex-wrap: wrap;
    min-width: 250px;
    margin: 2rem;
}
.logoTitulo{
    width: 4rem;
    height: 4rem;
    margin: auto;
}
.titulo{
    text-align: center;
    margin: auto;
    display: grid;
}
.oracle, a{
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
    color: rgb(59, 160, 243);
    text-decoration: none;
}
.oracle, a:hover{
    color: aqua;
}